In [7]:
#Write a function that accepts two numbers as arguments and return the remainder

def remainder(n1, n2):
    return n1 % n2

In [8]:
result = remainder (7,4)

In [9]:
result

3

In [15]:
## Write a function that accepts two arguments(name and date of birth and return string in this format:
## Eric was born on Nov 24, 2000.

def info(name,DOB):
    return (f'{name} was born on {DOB}')

In [16]:
info('Eric','Nov 24, 2000')

'Eric was born on Nov 24, 2000'

In [33]:
##Write a function that takes two arguments (name and phase_of_day) and return string in the format:  Good Afternoon Lauren!
##If phase_of_day is morning then return Good Morning Lauren
##If phase_of_day is evening then return Good Evening Lauren

def argument(phase_of_day, name):
    if phase_of_day == 'Morning':
        return (f'Good {phase_of_day} {name}')
    else:
        return (f'Good {phase_of_day} {name}')

In [34]:
argument('Morning', 'Lauren')

'Good Morning Lauren'

In [35]:
argument('Evening', 'Lauren')

'Good Evening Lauren'

In [36]:
#### Write a function that takes three number arguments and return the greatest number.

def num(n1, n2, n3):
    if n1 > n2 and n1 > n3:
        return n1
    elif n2 > n1 and n2 > n3:
        return n2
    else:
        return n3

In [37]:
num(0, 3, 2)

3

In [38]:
num(2927, 4, 9)

2927

In [39]:
num(0,373, 9377)

9377

In [40]:
## Write a function that takes three number arguments and return the smallest number.
def number(n1, n2, n3):
    if n1<n2 and n1<n3:
        return n1
    elif n2<n1 and n2<n3:
        return n2
    else: 
        return n3

In [41]:
number(0, 45, 383)

0

In [42]:
number(4847, 5, 34838)

5

In [43]:
number(3738, 38383, 9)

9

In [44]:
### Write a function that takes two number arguments and return true if numbers are equal or false if numbers are unequal
def number (n1, n2):
    if n1 == n2:
        return True
    else:
        return False

In [45]:
number(4,6)

False

In [46]:
number(4,4)

True

In [47]:
### Write a function that takes an interger argument and returns float value of that integer.
def num(n1):
    return float(n1)

In [48]:
num(15)

15.0

In [71]:
## Write a function that takes two list arguments and return the combined array
a = ['c','d','e']
b = ['r','t','y']
c = a + b
def list1(c):
    return c

In [72]:
list1(c)

['c', 'd', 'e', 'r', 't', 'y']

In [73]:
type(c)

list

In [8]:
## Write a function that take a string argument and returns the array of characters of that string
## ‘Sweet’ should return [’S’, ‘w’, ‘e’, ‘e’, ’t’]


def arg(letter):
    my_list = []
    for char in letter:
        my_list.append(char)
    return my_list 
    
    

def char_string(letter):
    my_list = []
    my_list[:0]= letter
    return my_list

In [9]:
arg('Sweet')

['S', 'w', 'e', 'e', 't']

In [10]:
char_string('Sweet')

['S', 'w', 'e', 'e', 't']

In [13]:
## Write a function that takes an array and returns the sorted array

def num(a):
    return sorted(a)

In [14]:
num([5,4,7,3,8,2])

[2, 3, 4, 5, 7, 8]

In [51]:
### Write a function that takes a list with more than 5 elements and returns the popped element

def num(a):
    return a.pop()

In [52]:
num([1,2,3,6,4,5])

5

In [53]:
### Write a function that takes a list with more than 5 elements and returns the 2nd element of that list

def element(a):
    return a[1]

In [54]:
element([45, 58, 4, 3, 78,34])

58

In [56]:
#### Write a function that takes a list with more than 5 elements and returns the last element of that list

def element(s):
    return s[-1]

In [57]:
element([45,78,96,54, 41,25])

25

In [58]:
### Write a function that takes a list with more than 5 elements and returns the 2nd last of that list

def element(a):
    return a[-2]

In [59]:
element([45,78,22,96,41,25])

41

In [63]:
#### Write a function that takes a list with more than 5 elements and returns the 2nd, 3rd, 4th elements of that list.
def element(s):
    return s[1:4]

In [64]:
element([14,22,34,42,57,61])

[22, 34, 42]

In [22]:
### Write a function that takes two float arguments and return sum of those two rounded to two decimal places
def add(n1,n2):
    return round(n1 + n2, 2)

In [23]:
add(45.693, 7878.255456)

7923.95